@model web_store.ViewModels.ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a asp-controller="ShoppingCart" asp-action="Index">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @{ int count = 0;}
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    count += item.Amount;
                }
                @count
            </span>
        </a>
    </li>
}