@{
    Layout = "_CrudLayout";
}

<h3><a asp-controller="ProductCrud" asp-action="Index">Products</a>
<hr />
<a asp-controller="CategoryCrud" asp-action="Index">Categories</a>
<hr />
<a asp-controller="OrderCrud" asp-action="Index">Orders</a>
<hr />
<a asp-controller="Account" asp-action="RegisterAdmin">Register new admin</a></h3>