@model web_store.ViewModels.ManagementViewModel

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
     var user = await UserManager.GetUserAsync(User);

}

<h2>My account</h2>

<div class="card mb-3">
    <div class="card-header">
        User Id : @user.Id
    </div>
    <div class="card-body">
        <h5 class = "card-title">@user.UserName</h5>
    </div>
    <div class="card-footer">
        <a asp-action="EditUser" asp-controller="Account" 
            asp-route-id="@user.Id" class = "btn btn-danger">Edit</a>
        <a href="#" class = "btn btn-danger">Delete</a>
    </div>
</div>
